@media screen and (max-width: 600px) {


body {
  margin: 0;
  padding: 0;
  background-color: brown;
  max-width: fit-content;
}
.liID {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-size: 40px;
}
.bilde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
}
.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-size: 40px;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin: 5px;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding: 0px;
  margin: 0px;
}
.arbeid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
.bilde_ls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 200px;
}
.colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}
.liDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
  font-size: 40px;
}
.p_li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-size: 20px;
}
.facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-size: 40px;
}
/* .folk_president {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-size: 40px;
} */
}