@media screen and (min-width: 2460px) {

.bildeColum {
  display: flex;
  flex-direction: column;
font-size: 100px;

}
.bilde{
  display: flex;
  justify-content: start;
  width: 100%!important;
  height: auto!important;

}

.viktig{
  font-size: 2rem;
}
p{
  font-size: 3rem!important;
  width: 100%;}

li{
  font-size: 4rem;
}
button{
  font-size: 4rem;
}
.president{
  width: 50%!important;
  height: 50%!important;
}
.folk{
  width: 50rem;
  height: auto;
}
#beskrivelse{
  font-size: 6rem;
  width: 100%;
}
.QR{
  width: 20rem;
  height: auto;
}}